.dark-mode {
    color: white;
    background-color: black
}

button {
    float: right;
    cursor: pointer;
}

/* center all type of text */
h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

body {
    color: black;
    background-color: white;
    font-family: monospace;
    line-height: 1.4;
    font-size: 16px;
    text-align: center;

}

/* create a flex direction of rows for header class Name and make list-type style none for ul*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    border-radius: 50px;
}

section {
    margin-bottom: 50px;
    border-radius: 25px;
    padding-bottom: 10%;
    padding-top: 5%;
}

section ul {
    list-style-type: none;
}

.header ul {
    list-style-type: none;
}

.header li {
    display: inline-block;
    padding: 0 1em;
    font-size: 1.2em;
}

.contact ul {
    list-style-type: none;
}

.contact {
    /* Full-height: remove this if you want "auto" height */
    width: 15%;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 30%;
    flex-basis: 20%;
    padding-right: 5%;
}

/* The navigation menu links */
.contact a {
    text-decoration: none;
    font-size: 25px;
}

/* Style page content */
.main {
    margin-left: 160px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .contact {
        padding-top: 15px;
    }

    .contact a {
        font-size: 18px;
    }
}

.header a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.header li a:link {
    text-decoration: none;
}

.header a:visited {
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.header a:active {
    text-decoration: underline;
}

.bulb {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    color: azure;
    background-color: darkred;
}

/* add Ubuntu as the font */
@font-face {
    font-family: 'Ubuntu';
    src: url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
}

.division {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.content {
    flex-basis: 70%;
}